*/obj/*
*/bin/*

HubsubscriberTests/bin/*
HubsubscriberTests/bin/*
HubsubscriberTests/bin/*
Hubsubscriber/archives/*
Hubsubscriber/ElmahLogs/*
HubsubscriberTests/bin/*
Hubsubscriber/Bin
HubSubscriber.suo
Hubsubscriber/logs/logfile.txt
Hubsubscriber/HubSubscriber.Publish.xml
*/Thumbs.db