<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>  
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section
            name="castle"
            type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/ElmahLogs" />
    <security allowRemoteAccess="1" />
  </elmah>  
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets async="true">
      <target xsi:type="File" name="fileLogger"
		    layout="${longdate} ${logger} ${message}"
		    fileName="${basedir}/logs/logfile.txt"
		    archiveFileName="${basedir}/archives/log.{#}.txt"
		    archiveEvery="Day"
		    archiveNumbering="Rolling"
		    maxArchiveFiles="7"
		    concurrentWrites="true"
		    keepFileOpen="false" />
      <target name="emailLogger" xsi:type="Mail" smtpServer="smtp.gmail.com" smtpPort="587" smtpAuthentication="Basic"
              smtpUsername="support@kwwika.com" smtpPassword="Xu7TUtra" enableSsl="true" from="support@kwwika.com"
              to="twitterds@kwwika.com" />
    </targets>
    <rules>
      <logger name="*" writeTo="emailLogger" minLevel="Warn" />
      <logger name="*" writeTo="fileLogger" minLevel="Trace" />
    </rules>
  </nlog>

  <castle>

    <components>
      <component id="LoggingService"
                 service="Kwwika.Common.Logging.ILoggingService, Kwwika.Common"
                 type="Kwwika.Common.Logging.NLog.LoggingService, Kwwika.Common">
        <parameters>
          <loggerName>HubSubscriber</loggerName>
        </parameters>
      </component>
      <component id="HubSubscriptionListener"
                 service="HubSubscriber.Services.IHubSubscriptionListener, HubSubscriber.Services"
                 type="HubSubscriber.Kwwika.HubSubscriptionListener, HubSubscriber.Kwwika">
        <parameters>
          <loggingService>${LoggingService}</loggingService>
        </parameters>
      </component>
      <component id="HubSubscriptionPersistenceService"
                 service="HubSubscriber.Services.IHubSubscriptionPersistenceService, HubSubscriber.Services"
                 type="HubSubscriber.Kwwika.HubSubscriptionPersistenceService, HubSubscriber.Kwwika">
        <parameters>
          <loggingService>${LoggingService}</loggingService>
        </parameters>
      </component>
    </components>

  </castle>

  <appSettings>
    <add key="HubUsername" value="username"/>
    <add key="HubPassword" value="password"/>
    <add key="HubRootUrl" value="http://superfeedr.com/hubbub"/>
    <add key="TrimEntryContentLength" value="25000"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="HubSubscriberEntities"
         connectionString="metadata=res://HubSubscriber.Kwwika/HubSubscriptions.csdl|res://HubSubscriber.Kwwika/HubSubscriptions.ssdl|res://HubSubscriber.Kwwika/HubSubscriptions.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);MultipleActiveResultSets=true;Initial Catalog=CloudWebsite;User Id=hubsubscriber;Password=password;&quot;"
         providerName="System.Data.EntityClient" />    
  </connectionStrings>
</configuration>